<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSQL.Properties.Settings.C_DBConnectionString"
            connectionString="Data Source=DESKTOP-J2MHF5B\C#SQL;Initial Catalog=C#DB;Persist Security Info=True;User ID=sa;Password=JagArFr4nT4by"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>